body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f5f9;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.1);
    border: black solid 0.1px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo {
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;  
    -ms-user-select: none;    
    user-select: none; 
}

.search-bar {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

#sort {
    grid-column: 1;
    justify-self: start;
    margin-left: 15px;
}

#filter {
    grid-column: 3;
    justify-self: end;
    margin-right: 15px;
}

#search {
    width: 50vh;
    margin: 25px;
    grid-column: 2;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
    margin-top: 0;
    width: 98%;
}

.card img {
    height: 150px;
    object-fit: contain;
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
    background: white;
    padding: 15px;
    border-radius: 10px;
}

.card h3 {
    font-size: 16px;
    height: 40px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item-value {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    font-weight: bold;
}

.cart {
    display: none;
    position: fixed;
    z-index: 1000;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}

.items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    min-height: 25vh;
    max-height: 70vh;
    overflow-y: auto;
}

.overflow {
    overflow: hidden;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    width: 100vh;
    min-height: 25vh;
    max-height: 70vh;
     border-radius: 20px;
    border: solid black 1px;
}

#open-cart {
    cursor: pointer;
    transition: .3s;
}

#open-cart:hover {
    color: rgb(61, 61, 244);
    transition: .3s;
}

.open {
    display: flex;
}

.cart-item {
    height: 15vh;
    width: 95%;
    display: grid;
    grid-template-columns: 12vh 50vh 10vh 5vh;
    justify-content: space-between;
    margin: 20px;
    gap: 10px;
    padding: 5px;
}

.cart-item img {
    width: 12vh;
    max-height: 15vh;
    margin: 0;
}

.cart-item h3 {
    font-size: 1.5vh;
    text-align: justify;
    margin: 0;
}

.cart-item-price {
    text-align: center;
    margin: 0;
}

.cart-info {
    flex-flow: end;
    text-align: right;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.delete {
    background-color: black;
}

footer {
    background-color: rgba(0, 0, 0, 0.1);
    height: 5vh;
    border: solid black 1px;
    margin-top: 30px;
    color: rgba(0, 0, 0, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
}

.buy-btn {
    cursor: pointer;
    border: solid black 1px;
    padding: 3px;
    border-radius: 5px;
    transition: .3s;
    margin: 10px;
}

.buy-btn:hover {
    color: rgb(61, 61, 244);
    border: solid rgb(61, 61, 244) 1px;
    transition: .3s;
}